# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment folder
venv/
env/

# PyInstaller build folders
build/
dist/
*.spec

# Logs and debug files
*.log
*.dbg

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Python package files
*.egg
*.egg-info/
.eggs/

# Other temporary files
*.bak
*.tmp
~$*

# Config or secret files
config.json
.env